/* General */

/*message area is 80vw x 90vh*/
* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

div {
  z-index: 100;
}

.App {
  text-align: center;
  margin: 0 auto;
  position: relative;
  background-color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Sign in and Sign out */
.sign-in,
.sign-out {
  font-family: "Segoe UI";
  background-color: #4287f5;
  color: white;
  border: none;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 5px;
  transition: opacity 0.2s;
}

.sign-in:hover,
.sign-out:hover {
  opacity: 0.5;
  cursor: pointer;
}

.sign-in {
  margin-top: 20px;
}

.sign-out {
  position: absolute;
  right: 5px;
  top: 5px;
}

.sign-in-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in-container h1 {
  margin-top: 0;
}

/* Homepage */
.homepage {
  margin-left: 20vw;
  margin-bottom: 10vh;
}

.current-room-indicator {
  margin-top: 0;
  padding-top: 20px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20vw;
  background-color: #4287f5;
}

.rooms {
  display: flex;
  flex-direction: column;
  width: 20vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100%;
}

.rooms h1 {
  color: white;
  margin: 0;
  padding: 0;
}

.room-button,
.create-room,
.rooms-header {
  background-color: #4287f5;
  border: 1px solid rgba(198, 198, 198, 0.377);
  font-family: "Segoe UI";
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: -1px;
  color: white;
}

.rooms-header {
  background-color: #3670cc;
  padding: 20px 0;
}

.create-room {
  background-color: #3670cc;
  padding: 30px 0;
}

.create-room img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.room-button:hover,
.create-room:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Create room modal */
.create-room-modal {
  position: fixed;
  height: 50vmin;
  width: 50vmin;
  background-color: rgba(82, 255, 194, 1);
  border-radius: 10px;
  border: 1px solid rgba(198, 198, 198, 0.377);
  top: 50%;
  left: 50%;
  margin-top: -25vmin;
  margin-left: -25vmin;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.create-room-modal button {
  background-color: #4287f5;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 15px 25px;
}

.create-room-modal button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.room-name {
  margin-top: 30px;
}

.room-exist-error {
  color: red;
}

/* Messages */
.message-area {
}

.message {
  display: flex;
  align-items: center;
}

.received {
  margin-left: 10px;
}

.sent {
  flex-direction: row-reverse;
  margin-right: 10px;
}

.sent .message-text {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
  word-wrap: break-word;
  hyphens: auto;
}

.received .message-text {
  color: white;
  background: #e342f5;
  color: black;
  word-wrap: break-word;
  hyphens: auto;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.message .p,
.message .message-text {
  max-width: 500px;
  margin-bottom: 12px;
  font-size: inherit;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

/* Input Bar */
.message-form {
  position: fixed;
  bottom: 0;
  width: 80vw;
  display: flex;
  margin-bottom: 10px;
}

.message-input,
.message-form button {
  height: 10vh;
}

.message-input {
  width: 100%;
  font-size: 1.5rem;
  background-color: rgba(217, 217, 217);
  border: none;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  font-family: "Segoe UI";
}

.message-form button {
  width: 10vw;
  margin-right: calc(20px + 10px);
  font-size: 100%;
  border: none;
  border-radius: 20px;
  background-color: #3670cc;
}

.message-form button:disabled {
  opacity: 0.5;
}

.message-form button:hover {
  cursor: pointer;
}
