/* General */

/*message area is 80vw x 90vh for desktop*/
/* 70vw x 90vh for mobile*/
* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

div {
  z-index: 100;
}

.App {
  text-align: center;
  margin: 0 auto;
  position: relative;
  background-color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Sign in and Sign out */
.sign-in,
.sign-out {
  font-family: "Segoe UI";
  background-color: #4287f5;
  color: white;
  border: none;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 5px;
  transition: opacity 0.2s;
}

.sign-in:hover,
.sign-out:hover {
  opacity: 0.5;
  cursor: pointer;
}

.sign-in {
  margin-top: 20px;
}

.sign-out {
  position: absolute;
  right: 5px;
  top: 5px;
}

.sign-in-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in-container h1 {
  margin-top: 0;
}

/* General Homepage */
.homepage {
  margin-left: 20vw;
  margin-bottom: calc(10vh + 10px);
}

.current-room-indicator {
  margin-top: 0;
  padding-top: 20px;
}

.homepage hr {
  border: 1px solid rgba(142, 142, 142, 0.264);
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20vw;
  background-color: #4287f5;
}

.rooms {
  display: flex;
  flex-direction: column;
  width: 20vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100%; /* for scrollbar */
}

.rooms h1 {
  color: white;
  margin: 0;
  padding: 0;
}

.room-button,
.create-room {
  background-color: #4287f5;
  border: 1px solid rgba(198, 198, 198, 0.377);
  font-family: "Segoe UI";
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: -1px;
  color: white;
}

.rooms-header {
  background-color: #3670cc;
  padding: 20px 0;
}

.create-room {
  background-color: #3670cc;
  padding: 3.5px 0;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  border-radius: 10px;
  margin: 8px auto;
  position: sticky;
}

.create-room img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.room-button:hover,
.create-room:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Create room modal */
.create-room-modal {
  position: fixed;
  height: 50vmin;
  width: 50vmin;
  /*background-color: rgba(82, 255, 194, 1);*/
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  border: 3px solid rgba(198, 198, 198, 0.377);
  top: 50%;
  left: 50%;
  margin-top: -25vmin;
  margin-left: -25vmin;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.create-room-modal button {
  background-color: #4287f5;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 15px 25px;
}

.create-room-modal button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.room-name {
  margin-top: 30px;
}

.room-exist-error {
  color: red;
}

/* Messages */
.message-area {
  max-width: 80vw;
  margin-left: 10px;
}

.message {
  display: flex;
  align-items: flex-end;
  word-wrap: break-word;
}

.received {
  margin-left: 10px;
}

.sent {
  flex-direction: row-reverse;
  margin-right: 10px;
}

.sent .message-text {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.received .message-text {
  color: white;
  background: #e342f5;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.message .p,
.message .message-text {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  word-break: break-word;
  hyphens: auto;
}

.received .message-vertical {
  text-align: left;
}

.sent .message-vertical {
  text-align: right;
}

/* Input Bar */
.message-form {
  position: fixed;
  bottom: 0;
  width: 80vw;
  display: flex;
  margin-bottom: 10px;
  z-index: 99999;
}

.message-input,
.message-form button {
  height: 10vh;
}

.message-input {
  width: 100%;
  font-size: 1.5rem;
  background-color: rgba(217, 217, 217);
  border: none;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  font-family: "Segoe UI";
}

.message-form button {
  width: 10vw;
  margin-right: calc(20px + 10px);
  font-size: 100%;
  border: none;
  border-radius: 20px;
  background-color: #3670cc;
}

.message-form button:disabled {
  opacity: 0.5;
}

.message-form button:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .homepage {
    margin-left: 30vw;
  }

  .sidebar {
    width: 30vw;
  }

  .message-area {
    max-width: 70vw;
  }

  .rooms {
    width: 30vw;
  }

  .create-room-modal {
    left: 60%;
  }

  .message-form {
    width: 70vw;
  }

  .message .p,
  .message .message-text {
    font-size: 15px;
  }

  .message-form button {
    width: 15vw;
  }
}
